html{
    font-size: 16px;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin:0
}

body{
    margin: 20px;
    width: 80vw;
}

.form{
    display: flex;
    flex-direction: column;
}

/*===========================================
LOGO AND DESCRIPTION
=============================================*/

.company-description-title{
    display: grid;
    grid-template-rows: auto 90px;
    grid-template-columns: 90px auto;
    grid-template-areas:
        "heading heading"
        "logo name";
}

.heading{
    grid-area: heading;
    background-color: slategray;
}

.company-name{
    grid-area: name;
    background-color: coral;
    align-self: center;
}

#name{
    height: 80px;
}

.upload-icon{
    cursor: pointer;
/* Gray 50 */
}

.upload-icon :hover{
    background-color: #5cbd95;
}


.logo{
    align-self: center;
    justify-self: center;
    grid-area: logo;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.upload-icon{
    background-color: rgba(47, 36, 255, 0.86);
    color: white;
    border-radius: 2px;
}

.img{
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 20px;
    z-index: -1;
}

/*===========================================
DRAG AND DROP FILE
=============================================*/
.drop-container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.drop-zone{
    border: 2px solid grey;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    height: 50px;
}

.dynamic-files{
    display: flex;
}

.file-icons{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.icons{
    height: 30px;
}

/*==============================================
TEAM ROLES
================================================*/

.members{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 150px auto;
    grid-template-rows: 1fr;
    gap: 5px;
    position: relative;
}

.overlay{
    background-color: orange;
    width: 80vw;
    margin: 0;
    position: absolute;
}

.checkboxes{
    background-color: white;
}

/*==============================================
DiSPLAYING SELECTED OPTIONS
================================================*/

.box{
    display: flex;
    border: 2px solid black;
    flex-shrink: 1;
    transition: all 2s;
}

.box > .close-icon:hover{
    opacity: 60%;
    border: 1px solid grey;
    cursor: pointer;
    transition: border 2s;
}